*{
    padding:0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    /* for debug */
    /* outline:2px dashed blue; */
}


html, body {
    height: 100vh;
}

ul{
    display:grid;
    align-items: end;
}

.main-container{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:1fr;
    height:100vh;

    }

/* sidebar left */
.sidebar-left{
    background-color: rgb(38, 168, 201);
    padding:16px;
    grid-column: 1;
    color: azure;

    display:grid;
    grid-template-rows: 1fr 3fr 1fr 1.5fr 4fr;
    grid-template-areas: 
    "logo"
   "options"
    "."
    "utils"
    ;
    gap:12px;
    height:100%;
    z-index: 2;
}
.dash{
    font-size: 42px;
    font-weight: 800[x];
}
.logo{
    display:grid;
    grid-area: logo;
    grid-template-columns: 1fr 6fr;
    text-align: start;
    align-items: center;
    gap:16px;
}
.logo h1{
    display:flex;
    padding-top: 6px;
}
.logosvg{
    
    height:40px;
}
.options{
    grid-area:options;
}
.utils{
    grid-area:utils;
}

/* Second Main Container */
.content-container{
    display:grid;
    grid-column: 2;
    grid-template-rows: minmax(1fr, 100px) 4fr ;
    grid-template-columns: 3fr 1fr;
    background-color:  rgb(227, 227, 252);
    height:100%;

}

/* Header */

.header{
    background-color: burlywood;
    display:grid;
    grid-template-rows: 1fr 2fr;
    grid-column: 1/3;
    grid-row: 1;
    padding:0 16px;
    border:1px solid black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.747);
    z-index: 1;

}
.header-top{
    display:grid;
    grid-template-columns: 4fr 2fr;
}
.header-bottom{
display:grid;
grid-template-columns: 1fr 5fr 1fr 1fr 1fr ;
justify-items: center;
align-items:center;
gap:16px;
padding-bottom:8px;

}

.search-div{
    display:flex;
    align-items: center;
    padding-left: 32px;
    gap:16px;
}
input[type="search"]{
height:2rem;
width: clamp(5ch, 100%, 130ch);
border-radius: 16px;
}



.notifications{
    padding-left: 16px;
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display:flex;
    align-items: center;
    justify-content: center;
    gap:16px
}

.round-image-container, .round-image-container-larger{
    width:50px;
    height:50px;
    border-radius:50%;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;

}
.round-image-container img, .round-image-container-larger img{
    width: auto;
    height:100%;
    object-fit:cover;
    object-position: center;
}
.round-image-container-larger{
    width:100px;
    height:100px;
}
.greeting{
    justify-self:start;
}
button{
    border-radius: 16px;
    padding:8px 16px ;
    width: clamp(60px, 20ch, 600px);
    font-size: 1rem;;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: aquamarine;
}
/* Content Div */
.project-section{

    display:grid;
    grid-row:1fr;
    grid-template-rows: 1fr 9fr;
}


li{
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
    gap:16px;
    font-size: 24px;
    font-weight: 600;
}
.icon{
    height:32px;
    color:azure;
    fill:currentColor;
}


.project-header{
    grid-column: 1/2;
    /* background-color: lightgrey; */

    font-size: 32px;
    font-weight: 700;
    padding: 16px 16px 0px 20px;

    display:grid;
    align-items: end;

    

}
.project-card-grid{
    /* background-color: blueviolet; */
    grid-column: 1/2;
    grid-row: 2/3;
    gap:16px;
    display:grid;
    width:100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding:16px 16px 3rem 16px;

}
.project-card{
    /* make responsive using clamp/minmax */
    /* width: clamp(100px 1fr 200px); */
    padding:16px;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: beige;
    border-radius: 16px;
    border-left: 10px solid rgb(106, 106, 134);
    height:fit-content;
    aspect-ratio: 2/1.25;
}
.links {
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    gap:16px;
}
.links svg{
    width:30px;
    height:30px;
}


/* sidebar right */
.sidebar-right{
    display:grid;
    /* background-color: aquamarine; */
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-rows:1fr 9fr ;
}

.announcements-title{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row: 1/2;

    font-size: 32px;
    font-weight: 700;
    /* padding:16px 16px 0px 16px; */
}
.sidebar-right-content{
    grid-row: 2/3;
    display:grid;
    grid-template-rows: 7fr 1fr 7fr;
    padding:16px;
    align-items: center;

}
.announcements-div{
    background-color: antiquewhite;
    padding:16px;
    border-radius: 16px;
    display:flex;
    flex-direction: column;  
    justify-content: space-between;  
    gap:16px;
}
.announcement{
    border-bottom: 4px solid black;

}
.bottom{
    border:0px;
    margin:0px;
}

/* trending box */
.trending{
 align-self: end;
}
.hashtags{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap:16px;
    background-color: antiquewhite;
    padding:16px;
    border-radius: 16px;
    align-self: flex-start;
}
.hashtag p{
    font-size: 14px;
}

/* box shadows */
.announcements-div, .project-card{
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}